<i>Do not reply to this email.</i>
<br/><br/>

<p>
    To confirm your email, please copy the One Time Pin (OTP) below, then return to the
    page on <a href="{{ link }}">{{ link }}</a> that requested it and enter
    it into the correct field.
</p>

{{ otp }}
<br/><br/>

Thank you!
<br/><br/>

The fine people at AgiBase
