<i>Do not reply to this email.</i>
<br/><br/>

<p>
    To confirm your email, please copy the One Time Pin (OTP) below, then click on the link below
    and enter it into the correct field.
</p>
<p>
    OTP: <strong>{{ otp }}</strong>
</p>
<p>
    Link to reset your password: <a href="{{ link }}">{{ link }}</a>
</p>
<p>
    If you have any trouble resetting your password, please send an email to support@izinto.co.za.
</p>


<br/><br/>

Thank you!
<br/><br/>

Izinto Support
